body {
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.accent {
    color: var(--accent)
}

.navigation {
    border: solid 1px var(--secondary);
    border-style: none none solid none;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
    flex: 0;
}

.navigation-right {
    position: absolute;
    right: 1rem;
    gap: 2rem;
}

.navigation a:hover {
    text-decoration: none;
}

.navigation-right a {
    color: inherit;
}

a:hover {
    color: var(--accent);
}

.content {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.splash {
    padding-top: 50%;
    position: absolute;
    top: 0;
    background: radial-gradient(circle, rgba(82, 209, 82, 0.493), transparent 60%);
    width: 100%;
    height: 100%;;
}

.container {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

button img {
    width: 2rem;
    height: 2rem;
}

button .horizontal-container {
    gap: 2rem;
}

.primary-button-solid {
    font-weight: 600;
}

.cover-image {
    width: 100%;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
}

.page {
    height: 100vh;
}

.page-container {
    height: 100vh;
}

.benefit-item {
    flex-direction: column;
    gap: 1rem;
}

.benefit-icon {
    width: 6rem;
    height: 6rem;
    background: var(--accent);
    border-radius: 50%;
}

.benefit-icon img {
    filter: brightness(0) invert(1);
    width: 50%;
    height: 50%;
}

.benefit-item h3, .benefit-item h2 {
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
}

a {
    text-decoration: none;
}

.team-card {
    border: solid 1px var(--accent-transparent);
    border-radius: 5px;
    padding: 2rem;
    box-sizing: border-box;
    flex-direction: column;
    gap: 1rem;
    background: var(--accent-very-transparent);
}

.team-card img:not(.social-icon) {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    border: solid 15px var(--accent-transparent);
}

.team-card h2 {
    color: var(--accent);
}

.social-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.team-card .horizontal-container {
    gap: 1rem;
}

.faq-open {
    height: auto !important;
}

.faq-item {
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    border: solid 1px var(--accent-transparent);
    background: var(--accent-very-transparent);
    height: 3.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.faq-item h3 {
    color: var(--accent);
}

.faq-open .down-icon {
    transform: rotate(180deg);
}

.down-icon {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    filter: brightness(0) invert(60%) sepia(75%) saturate(370%) hue-rotate(71deg) brightness(97%) contrast(101%);
}

.youtube-video {
    border: solid 1px red;
    background: rgba(255, 0, 0, 0.19);
    color: red;
    padding: 0.5rem 1.5rem;
    width: 8rem;
}

.youtube-video:hover {
    background: rgba(255, 0, 0, 0.083);
}

#demoImage {
    height: 70vh;
    border: solid 1px var(--accent);
    border-radius: 5px;
}

.demo-container {
    gap: 2rem;
}

.carousel-btn {
    background: transparent;
    border: none;
    color: var(--accent);
}